{% extends 'layout.html.twig' %}

{% block stylesheet %}
{{parent()}}
<link rel="stylesheet" href="assets\css\style_MesOffres.css">
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/js/uikit-icons.min.js"></script>
{% endblock %}

{% block content %}

 <div class="paragraphe">
      <h1>Mes offres</h1>
    </div>
{% if offres is empty %}
 <p>Vous n'avez déposé aucune offre pour le moment</p>
{% else %}    

{% for offre in offres %}
<div class="uk-overflow-auto">
<table class="uk-table uk-table-divider uk-table-striped uk-table-large uk-table-hover">
    <thead>
        <tr>
            <th>Catégorie</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Zone d'intervention</th>
            <th>Disponibilité</th>
            <th>Numéro de téléphone</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ offre.cdescription}}</td>
            <td>{{ offre.title }}</td>
            <td>{{ offre.odescription }}</td>
            <td>{{ offre.area }}</td>
            <td>{{ offre.availability }}</td>
            <td>{{ offre.phone }}</td>
            <td><a href="depot/edit?id={{offre.id}}" uk-icon="icon: pencil"></a> </td>
            <td><a href="mesoffres/delete?id={{offre.id}}" uk-icon="icon: trash"></a></td>
        </tr>
    </tbody>
</table>
</div>
</br>
{% endfor %}
{% endif %}
{% endblock %}