{% extends 'layout.html.twig' %}

{% block stylesheet %}
{{parent()}}
<link rel="stylesheet" href="/assets/css/style_deposerOffre.css">
{% endblock %}

{% block content %}

<div class="paragraphe">
            <h1>Aidez votre communauté</h1>
          </div>
          <div class="contenu_cedric">
            <div classs="container_p_image">
          <p>Nous vous remercions de proposer vos services sur notre plateforme. En proposant vos services, nous vous garantissons l'opportunité de rencontrer des personnes formidables et de partager vos connaisances avec ceux qui en ont besoin. <br>
          Veuiller remplir tous les champs. Merci d'être le plus précis possible.<br>Les tarifs des interventions sont les suivantes:<br><strong>10€ pour les particuliers et 10 points pour les associations.</strong></p>
          <div class="capsule_image">
            <img src="/assets/images/communaute.png" alt="image de communaute">
          </div>
            </div>
  
  <form class="uk-form-stacked" action="depot/add" method="POST">
    <div class="uk-margin">
        <div class="uk-form-controls">
                     
            <select class="uk-select" id="form-stacked-select" name="categorie_id">
            {% for categorie in categories %}
                <option value="{{categorie.id}}">{{ categorie.description }}</option>
            {% endfor %}
            </select>
        </div>
    </div>

     <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text"></label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Indiquez un titre à votre offre" required name="title" value= {{ offre.title }}>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text"></label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Indiquez la zone d'intervention" required name="area" value= {{ offre.area }} >
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text"></label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Indiquez la disponibilité" required name="availability" value= {{ offre.availability }} >
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text"></label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="tel" placeholder="Indiquez votre numéro de téléphone" required name="phone" value= {{ offre.phone }} >
        </div>
    </div>

    <div class="description-btn-container">
      <label for="message"></label>
      <textarea id="message" rows="5" placeholder="Description de l'intervention souhaitée" required name="description" value= {{ offre.description }} ></textarea><br><br>
      <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Envoyer</button>

  </div>
  </form>
          </div>


{% endblock %}



